body {
  background-color: #fafafa;
  color: #222;
}

#container {
  margin: 0 auto;
  width: 400px;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

h1 {
  font-size: 36px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

#redeem-button {
  background-color: #4CAF50;
}

#dark-mode-button, #light-mode-button {
  background-color: #555;
}

.dark-mode {
  background-color: #222;
  color: #fff;
}

.dark-mode button {
  background-color: #666;
}

.dark-mode input {
  background-color: #333;
  color: #fff;
}
