body {
  background-color: #111;
  color: #fff;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  margin-bottom: 50px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  width: 250px;
}

input[type="text"]:focus {
  outline: none;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  color: #111;
  font-size: 16px;
  cursor: pointer;
}

.toggle-wrapper {
  display: flex;
  justify-content: center;
}

#dark-mode-btn {
  background-color: #111;
  color: #fff;
  margin-left: 10px;
}

#dark-mode-btn:hover {
  background-color: #333;
}

#light-mode-btn:hover {
  background-color: #eee;
  color: #111;
}

#redeem-btn:hover {
  background-color: #eee;
  color: #111;
}
